<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Netzentlastung</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div>
    <h1 th:text="${headline}"></h1>
</div>
<div id="left">
    <h1>Zeitraum</h1>
    von <br>
    bis <br>
</div>
<div id="mid">
    <h1>Umspannwerke</h1>
    Netzregion <br>
    Netzbetreiber <br>
</div>
<div id="right">
    Anzahl Entlastungsstufen <br>
    Stadtwerk <br>
</div>

<div id="container">
    <div>
        <ul style="list-style:none">
            <li>
                <button th:text="${query}" onclick=""></button>
            </li>
            <li>
                <button th:text="${block}" onclick=""></button>
            </li>
            <li>
                <button th:text="${reset}" onclick=""></button>
            </li>
        </ul>
    </div>
    <div>
        <textarea></textarea>
    </div>
    <div>
        <ul style="list-style:none">
            <li>
                <button th:text="${saveAs}" onclick="saveAsFile()"></button>
            </li>
            <li>
                <button th:text="${help}"></button>
            </li>
        </ul>
    </div>
</div>

</body>
</html>