#container{
    display: flex;
    flex-direction: row;
    flex-wrap: nonwrap;
    justify-content: space-between;
}
#container>div{
    width: 100%;
    height: 100%;
    border: 2px dashed black;
}