{{> header}}
<h1>{{title}}</h1>
<table>
    <tr>
        <td>
            <button onclick="location.href='http://localhost:8080/reporting'">Reporting</button>
            <button onclick="location.href='http://localhost:8080/monitoring'">Monitoring</button>
        </td>
    </tr>
</table>
{{> footer}}