<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div>
    <h1 th:text="${headline}"></h1>
</div>
<div id="container">
    <div>
        <form method="POST" action="/api/uploadTemplate" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Vorlage auswählen</td>
                    <td><input type="file" name="template.xlsx"></td>
                    <td><input type="submit" value="Upload"></td>
                </tr>
            </table>
        </form>
        <form method="POST" action="/api/uploadReporting" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Reporting</td>
                    <td><input type="file" name="reporting.xlsx"></td>
                    <td><input type="submit" value="Upload"></td>
                </tr>
            </table>
        </form>
        <form method="POST" action="/api/uploadMonitoring" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Monitoring</td>
                    <td><input type="file" name="monitoring.xlsx"></td>
                    <td><input type="submit" value="Upload"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <textarea th:text="${log}"></textarea>
</div>
<div>
    <ul style="list-style:none">
        <li>
            <button th:text="${save}" onclick="saveFile()"></button>
        </li>
        <li>
            <button th:text="${saveAs}" onclick="saveAsFile()"></button>
        </li>
        <li>
            <button th:text="${help}"></button>
        </li>
    </ul>
</div>
</div>
</body>
</html>